.logo {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #E6CC85;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo img {
    max-width: 12%;
    height: auto;
    margin-left: 13em;
}

