.page-home{
  position: absolute;
  top: 18em;
  left: 37em;
  z-index: 2;

  width: 30em;
  height: 30em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-home h1{
  font-size: 2em;
  font-weight: bold;
  color: #b6b2b2;
  text-align: center;
  margin-bottom: 1em;
}

.page-home p{
  color: white;
}

.page-home a{
  color: white;
}

a{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}


.title-container {
  position: absolute;
  top: 26em;
  left: 8em;
  
  width: 22em;
  height: 15em;
}
.title-container h1{
  color: white;  
  font-family: 'Inter', sans-serif; 
  font-weight: 500; 
  font-size: 3em;
}

.title-container h1 span{
  font-weight: bold; 
  text-transform: uppercase;
  color: #3C5098;  
}

.container-register{
margin-top: 25px;

}

.container-register p{
font-family: 'Inter', sans-serif; 
padding: .3em;
}