.page-selection{
    position: absolute;
    top: 15em;
    left: 32em;
    z-index: 2;
  
    width: 30em;
    height: 30em;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .page-selection h1{
    font-size: 1.5em;
    font-weight: bold;
    color: #b6b2b2;
    padding-bottom: 2em;
  }
  
  .page-selection a{
    color: rgb(0, 0, 0);
  }

  .page-selection button{

    margin: 1em;
    display: block;
    width: 250px;
    background-color: #D6E2F1;
    color: black;
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
}

.container-button-casal button:hover{
  background-color: #5498C7;
}

.container-button-fornecedor button:hover{
  background-color: #27587A;
}
  
a{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}